.account_js {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center; 
    background-image: url("../assets/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 225px;
}
.account_box {
    background-color: white;
    width: 1100px;
    margin: auto;
    padding-bottom: 40px;
    border-radius: 10px;
}
.account_title {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 10px;
}
.account_table {
    background-color: rgb(254, 254, 254);
    margin: auto;
    border: 1px black solid;
    border-collapse: collapse;
}
.account_id_th {
    border: 1px black solid;
    padding: 10px;
}
.first_name_th {
    border: 1px black solid;
    padding: 10px;
}
.last_name_th {
    border: 1px black solid;
    padding: 10px;
}
.account_type_th {
    border: 1px black solid;
    padding: 10px;
}
.email_th {
    border: 1px black solid;
    padding: 10px;
}
.password_th {
    border: 1px black solid;
    padding: 10px;
}
.member_since_th {
    border: 1px black solid;
    padding: 10px;
}
.account_id_td {
    border: 1px black solid;
    padding: 10px;
}
.first_name_td {
    border: 1px black solid;
    padding: 10px;
}
.last_name_td {
    border: 1px black solid;
    padding: 10px;
}
.account_type_td {
    border: 1px black solid;
    padding: 10px;
}
.email_td {
    border: 1px black solid;
    padding: 10px;
}
.password_td {
    border: 1px black solid;
    padding: 10px;
}
.member_since_td {
    border: 1px black solid;
    padding: 10px;
}